<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Me.</h2>
                    <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">DevOps Engineer</h4>
                    <p class="text-muted">I work at <a href="https://www.paypal.com" target="_blank">PayPal</a> solving scale and operations problems via automation and engineering best practices. </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-camera fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Photography</h4>
                    <p class="text-muted">I can often be found at concerts and public events <a href="http://mikesplainpho.to">taking photos.</a></p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-circle-o-notch fa-stack-1x fa-inverse fa-rotate-180"></i>
                    </span>
                    <h4 class="service-heading">Open Source Software</h4>
                    <p class="text-muted">I've found Open Source software to be a key part of my career and I spent a fair amount of time trying to give back to the Open Source software community.</p>
                </div>
            </div>
        </div>
    </section>
